.container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.upper-components {
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {    
  .container {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    margin-bottom: 6rem;
  }  
}

@media screen and (min-width: 1025px) {
  .container {
    margin-bottom: 6rem;
  }
}