.counter {
  font-family: Inter;
  font-style: normal;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 100%;
}

.counter__block {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.counter__number {
  font-weight: 600;
  color: #2e294d;
  margin-bottom: 0;
}

.counter__text {
  font-weight: 500;
  color: #707070;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.counter__point {
  font-weight: normal;
  color: #ffae00;
}

@media screen and (max-width: 768px) {
  .counter__number {
    font-size: 40px;
    line-height: 48px;
  }
  .counter__text {
    font-size: 12px;
    line-height: 15px;
  }
  .counter__point {
    font-size: 40px;
    line-height: 48px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .counter__number {
    font-size: 80px;
    line-height: 97px;
  }
  .counter__text {
    font-size: 16px;
    line-height: 19px;
  }
  .counter__point {
    font-size: 80px;
    line-height: 97px;
  }
}

@media screen and (min-width: 1025px) {
  .counter__number {
    font-size: 80px;
    line-height: 97px;
  }

  .counter__text {
    font-size: 16px;
    line-height: 19px;
  }
  .counter__point {
    font-size: 80px;
    line-height: 97px;
  }
}
