.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .header {
    margin-top: 3rem;
    margin-bottom: 4rem;
  }

  .logo {
    width: 180px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .header {
    margin-top: 5rem;
    margin-bottom: 6rem;
  }
  .logo {
    width: 300px;
  }
}
@media screen and (min-width: 1025px) {
  .header {
    margin-top: 5rem;
    margin-bottom: 6rem;
  }
  .logo {
    width: 300px;
  }
}
