.golden-box {
  width: 100%;
  border: 1px solid #ffae00;
  box-sizing: border-box;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .golden-box {
    padding: 1rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .golden-box {
    padding: 1rem;
  }
}

@media screen and (min-width: 1025px) {
  .golden-box {
    padding: 1rem;
  }
}
